.home-welcome {
  text-align: center;

  h1 { 
    font-size: 44px;
    font-weight: 300;  
  }
}

section {
  padding-top: 40px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .home-welcome h1 {
    font-size: 24px;
  }
}