@import '../../styles/variables.scss';

.no-available {
  text-align: center;
}

.item-list-content {
  list-style: none;
  padding-left: 0;
  text-align: center;

  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  
  .item-list-content-item {
    flex: 0 0 auto;
    padding: 0 5px;
    width: 154px;
    max-height: 271px;

    &:first-child {
      padding-left: 0;
    }
  }

  .load-more {
    max-width: 50px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 15px;

    svg {
      font-size: 40px;
      color: $pink-primary-color;
    }

    &:hover, &:active, &:focus {
      outline: none;
    }
  }
}