.item-card-cast {
  -webkit-tap-highlight-color: transparent;
  
  height: 271px;

  .card-meta-character {
    text-align: center;
  
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
  }
}
