@import '../../styles/variables';

@mixin enable-transition {
  transition: opacity .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
}

.item-card {
  position: relative;

  cursor: pointer;

  -webkit-tap-highlight-color: transparent;

  .card-top img, .no-image {
    border-radius: 5px;
    width: 100%;
    width: 154px;
    height: 231px;
  }
  
  .card-bottom {
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-meta {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: $transparent-color-hover;

    @include enable-transition;

    &.show-title {
      opacity: 1;
      background-color: transparent;

      .card-meta-rating {
        opacity: 0;
      }

      &:hover {
        background-color: $transparent-color-hover;

        .card-meta-rating {
          @include enable-transition;
          opacity: 1;
        }
      }
    }

    &:hover {
      opacity: 1;
    }

    .card-meta-rating {
      position: relative;
      top: 2%;
      left: 33%;

      .vote-number {
        padding-right: 2px;
      }
    }

    .card-meta-details {
      position: relative;
      text-align: left;
      top: 73%;
      left: 5px;
      bottom: 5px;

      width: 95%;
      overflow: hidden;
      min-width: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
