.item-card-cast {
  -webkit-tap-highlight-color: transparent;
  
  height: 271px;

  &.extra-small {
    width: 92px;
    height: 138px;

    .card-top img, .no-image {
      width: 92px;
      height: 138px;
    }

    .card-top .card-meta {
      pointer-events: none;
    }
  }

  .card-meta-character {
    text-align: center;
  
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
  }
}
