@import '../../styles/variables.scss';

.search-bar {
  width: 100%;
  height: 60px;
  position: absolute;

  z-index: 99;

  top: 60px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $non-transparent-color-01dp;

  &.hide {
    display: none;
  }

  .search-bar-wrapper {
    width: 60vw;

    form {
      display: flex;

      input {
        width: 100%;
        height: 38px;
  
        flex: 1;
        
        color: $white-high-color;
        font-size: 18px;
  
        border: transparent;
        background-color: $non-transparent-color-03dp;
        border-radius: 10px;
  
        outline: none;
      }

      input[type=text] {
        padding: 0 100px 0 20px;
      }

      .search-bar-button {
        width: 80px;
        height: 40px;
        border-radius: 10px; 

        position: relative;
        right: 80px;
        
        border-color: transparent;
        background-color: $pink-secondary-color;
        box-shadow: 0 0 1px $transparent-color-01dp;

        outline: 0;
        cursor: pointer;

        .label {
          color: $white-high-color;
          margin: auto;
          font-size: 16px;
          font-weight: bold;
        }
      }

      .search-close {
        position: relative;
        right: 60px;
        top: 3px;

        font-size: 32px;
        
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .search-bar .search-bar-wrapper {
    width: 90vw;

    form input[type=text] {
      padding: 0 20px;
    }

    .search-bar-button, .search-close {
      display: none;
    }
  }
}