@import '../styles/variables';

.backdrop-container {
  position: absolute;
  z-index: 0;
  top: 62px;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 675px;

  &.no-background {
    position: relative;
    height: 0;
    margin-bottom: -330px;
  }

  .backdrop-wrapper {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1200px;
    height: 675px;
    
    .backdrop-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -50px;
      background-size: 100% auto;
    }
    
    // TODO: Reconsider better usage
    .backdrop-blur {
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        pointer-events: none;
        width: 1200px;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 675px;
        background-repeat: no-repeat;
        background: 
        linear-gradient(
          90deg, $main-background-color 0, 
          rgba($main-background-color, .985) 1%,
          rgba($main-background-color, .945) 2.2%,
            rgba($main-background-color, .883) 3.3%,
            rgba($main-background-color, .803) 4.6%,
            rgba($main-background-color, .710) 6%,
            rgba($main-background-color, .609) 7.4%,
            rgba($main-background-color, .503) 8.8%,
            rgba($main-background-color, .397) 10.2%,
            rgba($main-background-color, .295) 11.5%,
            rgba($main-background-color, .202) 12.8%,
            rgba($main-background-color, .122) 14%,
            rgba($main-background-color, .058) 15%,
            rgba($main-background-color, .016) 16%,
            rgba($main-background-color,    0) 16.6%,
            rgba($main-background-color,    0) 83.4%,
            rgba($main-background-color, .016) 84%,
            rgba($main-background-color, .058) 85%,
            rgba($main-background-color, .122) 86%,
            rgba($main-background-color, .202) 87.2%,
            rgba($main-background-color, .295) 88.5%,
            rgba($main-background-color, .397) 89.8%,
            rgba($main-background-color, .503) 91.2%,
            rgba($main-background-color, .609) 92.6%,
            rgba($main-background-color, .710) 94%,
            rgba($main-background-color, .803) 95.4%,
            rgba($main-background-color, .883) 96.7%,
            rgba($main-background-color, .945) 97.8%,
            rgba($main-background-color, .985) 99%, 
            $main-background-color
            ),
            linear-gradient(
            0deg, $main-background-color 0,
            $main-background-color 21.4%,
            rgba($main-background-color, .985) 23.6%,
            rgba($main-background-color, .945) 26.1%,
            rgba($main-background-color, .883) 28.8%,
            rgba($main-background-color, .803) 31.7%,
            rgba($main-background-color, .710) 34.7%,
            rgba($main-background-color, .609) 37.8%,
            rgba($main-background-color, .503) 41%,
            rgba($main-background-color, .397) 44%,
            rgba($main-background-color, .295) 47%,
            rgba($main-background-color, .202) 49.9%,
            rgba($main-background-color, .122) 52.5%,
            rgba($main-background-color, .058) 54.8%,
            rgba($main-background-color, .016) 56.8%,
            rgba($main-background-color,    0) 58.5%
            );
      };
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .backdrop-container {
    height: 0;
    padding-top: 60%;

    .no-background {
      background-color: transparent;
    }

    .backdrop-wrapper {
      padding-top: 60%;
      width: 100%;
      height: 0;
      left: 0;
      transform: none;

      .backdrop-image {
        position: absolute;
        background-size: 100% auto;
        top: 0;
        left: 0;
      }

      .backdrop-blur:before {
        padding-top: 60%;
        height: 0;
        left: 0;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  $_height: 400px;
  
  .backdrop-container {
    height: $_height;

    .backdrop-wrapper {
      height: $_height;

      .backdrop-blur:before {
        height: $_height;
      }
    }
  }
}